# Python

Python is a machine language for intruscting any repeating work. or dynamic calculation or giving structure to a software of algorithm

### What should we learn

Data type

Some build in functions

Variables

Expressions

If and else

## Data Type

Command------------------> Result

Command- Function and data

Result- Data

### Types of Data

String ---- Chacarter, words, sentences

Integer--- Number(Full Number)

Float --- Decimal(5.3)

Boolean-- True and False (To run a condition or close a condition)

List

Set

Dictionary

### String

In [9]:
'''1. String should be a character or a number.
2. String cant be added with another integer.
3. String should be used by ("").
'''

'1. String should be a character or a number.\n2. String cant be added with another integer.\n3. String should be used by ("").\n'

In [8]:
"""Type fuction : Type fuction used for identifying the type of data.
"""

True

In [10]:
type('shawon')

str

In [11]:
type(2)

int

In [12]:
type(2.3)

float

In [13]:
type(True)

bool

The data type could be convert from one form to another. For example: Integer to string. But string to integer cant be happend.

In [24]:
#Convertion of data type
# Integer to string
first_half = 8801952
second_half = 839871

In [33]:
type(first_half)

int

In [32]:
str(first_half)
str(second_half)

'839871'

In [34]:
type(str(first_half))

str

In [35]:
str(first_half)+str(second_half)

'8801952839871'

In [26]:
first_half+second_half

9641823

In [28]:
first_name = 'Khan Molla Iftekar '
middle_name = 'Uddin Mohammad Bin Bokhtiar Khilji '
last_name = 'Abraz bin khadel Bin Pranto'

In [36]:
Full_name = first_name+middle_name+last_name

In [31]:
type(first_name)

str

In [37]:
Full_name

'Khan Molla Iftekar Uddin Mohammad Bin Bokhtiar Khilji Abraz bin khadel Bin Pranto'

### String slicing

Extracting the specific character or part from a big string

In [38]:
Full_name[11]

'I'

In [40]:
Full_name[5:10]

'Molla'

In [43]:
Full_name[::2]

'Ka ol fea di oamdBnBkta hliArzbnkae i rno'

In [44]:
#Float: is a decimal value for calculation.

In [45]:
5.6

5.6

In [46]:
type(5.6)

float

In [47]:
int(5.6)

5

In [48]:
float(5)

5.0

### List , Set and Dictionary

In [49]:
list1 = [56,65,85,74,25,36,96,84]

In [50]:
list1

[56, 65, 85, 74, 25, 36, 96, 84]

In [51]:
list2 = ['Jakir', 'Sumaiya', 'Ifty', 'Shawon', 'Maruf']

In [52]:
list2

['Jakir', 'Sumaiya', 'Ifty', 'Shawon', 'Maruf']

In [53]:
list2[3]

'Shawon'

In [57]:
list1[0+1+1]+list1[1]

150

In [58]:
Dict = {
    'Shawon': 56,
    'Ifty' : 79,
    'Tishma' : 84,
    'Apurbo' : 56,
    'Pranto' :14
}

In [59]:
Dict

{'Shawon': 56, 'Ifty': 79, 'Tishma': 84, 'Apurbo': 56, 'Pranto': 14}

In [60]:
Dict['Tishma']

84

In [63]:
Dict1 = {
    'Shawon':{
        'Physics': 89,
        'Chemistry': 87,
        'Math': 25
    },
    'Tishma':{
        'Physics': 79,
        'Chemistry': 81,
        'Math': 85
    },
    'Ifty':{
        'Physics': 99,
        'Chemistry': 97,
        'Math': 95
    },
    'Apurbo':{
        'Physics': 59,
        'Chemistry': 97,
        'Math': 45
    }
}

In [66]:
Dict1['Shawon']['Physics']

89

## Function

Function is way of particular command

## Variable

Is a container that can store data for further use or calculation.

In [74]:
Iftys_money = 500,
shawons_money = 400,
iftys_numbers = [15,23,54,87,45]

UsageError: Line magic function `%Iftys_money` not found.

In [75]:
'''1.Any symble cant be used(!@#$%^&*())
2. No space is acceptable.
3. No number could be use at the beginig.
'''

'1.Any symble cant be used(!@#$%^&*())\n2. No space is acceptable.\n3. No number could be use at the beginig.\n'

## Expression

Sum = +

Minus = -

Multiple = *

Divide = /

power = **

Remender = %

In [77]:
a = 100
b = 200
c = 300
d= 400
e = 500

In [78]:
a+b

300

In [83]:
f = a-b

In [85]:
f

-100

In [80]:
b-a

100

In [81]:
c*a

30000

In [82]:
c/a

3.0

In [87]:
c**2

90000

c%3

In [91]:
c%17

11

== ---------is equal to?(condition)-----Boolean

!= ----- is not equal to (condition)------Boolean

'> Greater than

< Less then

'>= Greater than equal

<= less than equal

In [92]:
a = 100
b = 200
c = 300
d= 400
e = 500

In [93]:
b==c

False

In [94]:
c/a ==3

True

In [95]:
b/a>1

True

In [96]:
d/a<2

False

## Condition

In [98]:
a = 100
b = 200
c = 300
d= 400
e = 500

In [99]:
if c/a == 3:
    print('Shawon is a good by')
else:
    print('Shawon is a batpar')

Shawon is a good by